@font-face {
   font-family: 'glacial-indifference';
   font-display: swap;
   src: url('glacial-indifference/font.ttf');
}
@font-face {
   font-family: 'SIFONN_PRO';
   font-display: swap;
   src: url('SIFONN_PRO/font.woff');
}
