@font-face {
   font-family: 'glacial-indifference';
   font-display: swap;
   src: url('glacial-indifference/font.ttf');
}
@font-face {
   font-family: 'Think Big';
   font-display: swap;
   src: url('Think Big/font.ttf');
}
