@font-face {
   font-family: 'Think Big';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-06_190307/fonts/Think%20Big/font.ttf');
}
