@font-face {
   font-family: 'SIFONN_PRO';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-06_190307/fonts/SIFONN_PRO/font.woff');
}
